<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <!-- Meta Data -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TITLE</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">


</head>

<body class="sticky-header">

<div class="my_switcher d-none d-lg-block">
  <ul>
    <li title="Light Mode">
      <a href="javascript:void(0)" class="setColor light" data-theme="light">
        <i class="fal fa-lightbulb-on"></i>
      </a>
    </li>
    <li title="Dark Mode">
      <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
        <i class="fas fa-moon"></i>
      </a>
    </li>
  </ul>
</div>

<div id="main-wrapper" class="main-wrapper">

  <app-header></app-header>
  <!--=====================================-->
  <!--=        Banner Area Start         =-->
  <!--=====================================-->
  <app-banner></app-banner>
  <!--=====================================-->
  <!--=        Service Area Start         =-->
  <!--=====================================-->
  <app-services></app-services>
  <!--=====================================-->
  <!--=        Project Area Start         =-->
  <!--=====================================-->
  <app-projects></app-projects>
  <!--=====================================-->
  <!--=        Counter Up Area Start      =-->
  <!--=====================================-->
  <app-counter-up></app-counter-up>
  <!--=====================================-->
  <!--=        Testimonial Area Start      =-->
  <!--=====================================-->
  <app-testimonial></app-testimonial>
  <!--=====================================-->
  <!--=        Brand Area Start       	=-->
  <!--=====================================-->
  <app-brands></app-brands>
  <!--=====================================-->
  <!--=        Blog Area Start       	    =-->
  <!--=====================================-->
  <app-blog></app-blog>
  <!--=====================================-->
  <!--=     Call To Action Area Start     =-->
  <!--=====================================-->
  <app-call-to-action></app-call-to-action>
  <!--=====================================-->
  <!--=        Footer Area Start       	=-->
  <!--=====================================-->
  <app-footer></app-footer>
  <!--=====================================-->
  <!--=       Offcanvas Menu Area       	=-->
  <!--=====================================-->
  <app-offcanvas-menu></app-offcanvas-menu>
</div>


</body>

</html>
