<section class="section section-padding">
  <div class="container">
    <div class="section-heading heading-left mb--20 mb_md--70">
      <span class="subtitle">خدماتی که ما می‌توانیم برای شما ارائه دهیم</span>
      <h2 class="title">خدماتی که می‌توانیم <br> به شما کمک کنیم</h2>
    </div>
    <div class="row">

      <div class="col-lg-4 mt--200 mt_md--0">
        <div class="services-grid service-style-2">
          <div class="thumbnail">
            <img src="assets/media/icon/icon-1.png" alt="آیکون">
          </div>
          <div class="content">
            <h5 class="title"> <a href="service-design.html">طراحی</a></h5>
            <p>به سادگی عکس‌ها و ویدیوها را به محیط کار خود بکشید و رها کنید تا به طور خودکار به کتابخانه Collab Cloud شما اضافه شوند.</p>
            <a href="service-design.html" class="more-btn">بیشتر بدانید</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt--100 mt_md--0" >
        <div class="services-grid service-style-2 active">
          <div class="thumbnail">
            <img src="assets/media/icon/icon-2.png" alt="آیکون">
          </div>
          <div class="content">
            <h5 class="title"> <a href="service-development.html">توسعه</a></h5>
            <p>به سادگی عکس‌ها و ویدیوها را به محیط کار خود بکشید و رها کنید تا به طور خودکار به کتابخانه Collab Cloud شما اضافه شوند.</p>
            <a href="service-development.html" class="more-btn">بیشتر بدانید</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4" >
        <div class="services-grid service-style-2">
          <div class="thumbnail">
            <img src="assets/media/icon/icon-6.png" alt="آیکون">
          </div>
          <div class="content">
            <h5 class="title"> <a href="service-content-strategy.html">استراتژی محتوا</a></h5>
            <p>به سادگی عکس‌ها و ویدیوها را به محیط کار خود بکشید و رها کنید تا به طور خودکار به کتابخانه Collab Cloud شما اضافه شوند.</p>
            <a href="service-content-strategy.html" class="more-btn">بیشتر بدانید</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="shape-group-7 list-unstyled">
    <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="دایره"></li>
    <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="حباب"></li>
    <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="حباب"></li>
  </ul>
</section>
