<section class="banner banner-style-2">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="banner-content" >
          <h1 style="direction: rtl" class="title">هرروز یک سناریو با خودمون!</h1>
          <a style="direction: rtl!important; text-align: right; float: right" href="portfolio.html" class="axil-btn btn-fill-white btn-large">خودمون!</a>
        </div>
      </div>
    </div>
  </div>
  <ul class="list-unstyled shape-group-18">
    <li class="shape shape-1" ><img src="assets/media/banner/banner-shape-1.png" alt="Shape"></li>
    <li class="shape shape-2" ><img src="assets/media/banner/banner-shape-2.png" alt="Shape"></li>
    <li class="shape shape-3" ><img src="assets/media/others/bubble-16.png" alt="Shape"></li>
    <li class="shape shape-4" ><img src="assets/media/others/bubble-15.png" alt="Shape"></li>
    <li class="shape shape-5" ><img src="assets/media/others/bubble-14.png" alt="Shape"></li>
    <li class="shape shape-6" ><img src="assets/media/others/bubble-16.png" alt="Shape"></li>
    <li class="shape shape-7" ><img src="assets/media/others/bubble-26.png" alt="Shape"></li>
  </ul>
</section>
